@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

@theme {
  --font-script: Great Vibes, cursive;
  /* Pallet 1 */

  /* --color-light-primary: #6ef3d6;
  --color-light-secondary: #c6fce5;
  --color-light-third: #0dceda;
  --color-light-white: #ebfffa;


  /* Pallet 2 */

  --color-light-primary: #176b87;
  --color-light-secondary: #64ccc5;
  --color-light-third: #04364a;
  --color-light-white: #dafffb;

  /* Dark colors */
  --color-dark-light-primary: #0f4c5c;
  --color-dark-light-secondary: #1f7a8c;
  --color-dark-light-third: #162c34;
  --color-dark-light-white: #dbeafe;
}

/*
  body
  background-color: #00f0b4;
  margin: 0;
} */
